<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><% game.id %></title>
  <link rel="stylesheet" href="../css/css.css">
</head>
<body>

  <div id="root">
    <p style="display:none" id="game"><%= JSON.stringify(game) %></p>

    <script>
    let p = document.getElementById('game');
    var game = JSON.parse(p.innerHTML);
    p.remove()
    </script>


    <div class="game">
      <div id="myNavy">
        <div class="stats">
        <div class="nick" contenteditable="true"></div>
        <div id="my-turn-indicator" class="turn-indicator"></div>
        </div></div>

      <div id="enemyNavy">
        <div id="enemy" class="stats">
        <div class="nick"></div>
        <div id="enemy-turn-indicator" class="turn-indicator"></div></div>

      </div>
      <div id="stateScreen" class="hidden"></div>
    </div>


    <a href="../games"><button class="back">BACK</button></a>

 </div>
 <!-- <div id="chat">
   <div id="chatheader">CHAT</div>
   <div id="history"></div>
   <form id="message" action="javascript:sendmsg()">
     <input id="message-content"></input>
     <input type="submit" value="Submit" class="hidden">
   </form>
 </div> -->
 <!-- <script src="game/constants.js" type="text/javascript"></script> -->
  <script src="/socket.io/socket.io.js"></script>
   <!-- <script src="onclicks.js" type="text/javascript"></script> -->
   <script src="../lib/p5.min.js" type="text/javascript"></script>
   <script src="../game/ship.js" type="text/javascript"></script>
   <script src="../game/sketch.js" type="text/javascript"></script>
   <!-- <script src="game/game.js" type="text/javascript"></script> -->
   <!-- <script src="game/state.js" type="text/javascript"></script> -->
   <!-- <script src="endscreen.js" type="text/javascript"></script> -->
   <!-- <script src="lib/RandomNick.js" type="text/javascript"></script> -->
   <!-- <script src="lib/draggable.js" type="text/javascript"></script> -->
   <!-- <script type="text/javascript">
     //Make the chat div element draggagle:
     dragElement(document.getElementById("chat"));
   </script> -->
   <script src="../games/updateOne.js"></script>
</body>
</html>
