#sk1 canvas, #sk2 canvas {
  margin-right: 10px;
  float: left;
  margin-bottom: 5px;
}
* {
  padding: 0;
  margin: 0;
}
body {
  padding: 10px;
}
.button {
  width: 100px;
  height: 50px;
  font-size: 25px;
}
button.start {
  border-color: rgb(250, 206, 19);
  background-color: rgb(250, 206, 19);
}
button.pass {
  border-color: rgb(250, 206, 19);
  background-color: rgb(250, 206, 19);
}
.stats {
  display: block;
}
.stats * {
  float: left;
}
.turn-indicator {
  height: 26px;
  margin: 7px;
  width: 26px;
  border-radius: 100%;
  border: 0.5px solid black;
  background-color: yellow;
  -webkit-transition: background-color 0.7s ease;
}
.nick {
  height: 40px;
  width: 200px;
  padding-left: 5px;
  font-size: 30px;
  vertical-align: baseline;
  background: linear-gradient(135deg,
    rgba(252,255,244,1) 0%,
    rgba(252,255,244,1) 13%,
    rgba(223,229,215,1) 100%,
    rgba(179,190,173,1) 100%);
}

#change-state.ready {
  background-color: rgb(74, 79, 198);
  border-color: rgb(74, 79, 198);
}

#change-state.waiting {
  background-color: rgb(12, 187, 19);
  border-color: rgb(12, 187, 19);
}

.hidden {
  display: none;
}

#sk2 > .hidden {
  padding: 0;
}

#sk3.waiting, #sk3.ready, #sk3.fail {
  background-color: rgb(168, 168, 168, 0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
#sk1, #sk2 {
  float: left;
  padding: 10px;
  background-color: rgb(147, 230, 187);
}
#enemy.nick {
}


#message {
  width: 400px;
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: rgb(199, 242, 238);
}

#chat {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 410px;
  height: 240px;
  border: 1px solid black;
}

#history {
  width: 400px;
  height: 150px;
  padding-left: 10px;
  padding-top: 10px;
  overflow: auto;
  background-color: rgb(240, 203, 234);
}

#chat .title {
  width: 400px;
  height: 20px;
  text-align: center;
}

#message-content {
  width: 300px;
  height: 30px;
  float: left;
}

span.mine {
  background-color: rgb(240, 230, 182)
}

span.enemy {
  background-color: rgb(186, 241, 171);
}

#sk4 {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 500px;
  height: 500px;
}
