div {
  box-shadow: 4px 5px 4px 0 rgba(0, 0, 0, 0.5);
  background: rgb(214, 155, 40);
  text-align: center;
  display: inline-block;
  padding: 30px;
  margin: 10px;
  border: ridge 5px rgb(148, 209, 172);
  font-size: 30px;

}

ul {
  list-style-type: none;
}
